
@media (max-width:376px){
   
    .Desc{
        font-size: 2.5em;
        padding-left: 12%;
        padding-top: 6%;
        position: relative;
    }
    .whenShrink{
        display: block;
    }

    .chatbtn{
        height: 40px;
        width: 40px;
        top: 90%;
        left: 80%; 
    }
    .afterclickBtn{
        height: 40px;
        width: 40px;
        left:83%;
        top: 89%;
    }
    .square{
        height: 200px;
        left:28%; 
        top: 56%;
        width: 240px;
    }
    
    .squareChat{
        left:24%; 
        top: 33%;
        width: 255px;   
    }

}