*{
    padding: 0;
    margin: 0;
}

#root{
    background-image: url(./Banner.png);
    font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    margin: 3px auto 0;
    position: relative;
    
}

h1{
    color: #ECF1FB;
    padding-top: 1%;
    padding-left: 7%;
    font-size: 2em;
}

.Desc{
    color: #ECF1FB;
    font-size: 4.5em;
    font-weight: bold;
    padding-left: 15%;
    padding-top: 6%;
    width: 30%;
}

ul{
    list-style: none;
    float: right;
    padding-top: 0;
    padding-right: 6%;
}
li{
    float: left;
    box-sizing: border-box;
    /* margin: 30px; */
    padding: 0 20px 0 20px;
    
}
li button{
    background-color: transparent;
    outline: none;
    border:transparent;
    font-size: 1em;
    color: #ECF1FB;
    padding: 5px 30px 5px 30px;
    border-radius: 50px;
}
li button:hover{
    background-color: #ECF1FB;
    color: black;
}

.active{
    background-color: #ECF1FB;
    color: black;
}

#whenShrink{
    display: none;
    float:right;
    margin-right:20px;
    margin-top:-30px;   
}
#chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

.chatbtn{
    position: absolute;
    outline: none;
    background-image: url(./Sparrow\ Bird.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60% 60%;
    border: none;
    height: 60px;
    width: 60px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 5px;
    float: right;
    left: 93vw;
    top: 87vh; 
    bottom:13%;
    box-shadow: 5px 5px 8px #888888;
    animation: displayWindow 200ms ease-in-out 0s;
}
.afterclickBtn{
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 5px;
    float: right;
    left:93%;
    top: 89%;
    box-shadow: 5px 5px 8px #888888;
    position:absolute;
    animation: displayWindow 200ms ease-in-out 0s;
    
}

.square{
    position: absolute;
    background-color: #ECF1FB;
    border-radius: 5px;
    height: 260px;
    left:76%; 
    top: 52%;
    right: 4%;
    bottom: 4%;
    width: 305px;
    box-shadow: 2px 2px 2px #888888;
    animation: displayWindow 500ms ease-in-out 0s; 
}

@keyframes displayWindow{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity:  1;  
    }
}

.innerSquare{
    background-color: #7f8ac5;
    margin: 15px;
    padding: 15px;
    color: #ECF1FB;
    border-radius: 5px;
}
.innerSquare h2{
    font-weight: 400;
    
    margin: 5px 5px;
}
.innerSquare p{
    font-size: 13px;
    margin: 5px 5px;
}
.startConvoBtn{
    outline: none;
    border: none;
    background-color: #13a884;
    color: #ECF1FB;
    padding: 8px 20px 8px 20px;
    font-size: 12px;
    margin: 5px 0 32px 40px;
    border-radius:50px;
    text-align: center;
}
.squareChat{
    position: absolute;
    background-color: white;
    border-radius: 7px;
    left:76%; 
    top: 32%;
    width: 310px;
    animation: displayWindow 700ms ease-out 0s;
    
}
.innerSquareChat{
    background-color: #7f8ac5;
    margin: 15px;
    padding: 12px;
    color: #ECF1FB;
    border-radius: 5px;
}
.innerSquareChat h2{
    font-weight: 400;
    font-size: 18px;
    margin: 5px 5px;
}
.innerSquareChat p{
    font-size: 13px;
    font-size: 10px;
    margin: 5px 5px;
}
.chatTextWindow{
    height: 30vh;
    overflow-y: auto;
    margin-bottom: 10px;
}
.rightChat{
    position: relative;
    background-color: #4c5aa1;
    color: #ECF1FB;
    font-size: 10px;
    width: 45%;
    height: 32px;
    border-radius: 5px 5px 0 5px;
    padding:8px;
    margin-left: 8.8rem;
    margin-top: 5px;
}
.rightChat::after{
    position:absolute;
    width: 10px;
    height: 10px;
    border-top:0px solid black;
    border-right:0px solid black;
    border-bottom:0px solid black;
    border-left:0px solid black;
    top: 100%;
    left: 50%;
    margin-left: -20px;
    content: "";
    transform: rotate(45deg);
    margin-top: -5px;
    margin-left: 60px;
    background-color: #4c5aa1;
}

.profileCircle{
    background-color: #4c5aa1;
    width: 24px;
    height: 24px;
    float: left;
    border-radius: 50px;
    margin-left: 15px;
    margin-top: 26px;
}
.leftChat{
    position: relative;
    background-color: #ECF1FB;
    color: #0c003a;
  
    font-size: 10px;
    width: 45%;
    height: 32px;
    border-radius: 5px;
    padding:5px;
    margin-left: 50px;
    margin-top: 15px;
}
.leftChat::after{
    position:absolute;
    width: 10px;
    height: 10px;
    border-top:0px solid black;
    border-right:0px solid black;
    border-bottom:0px solid black;
    border-left:0px solid black;
    top: 100%;
    left: 1%;
    content: "";
    transform: rotate(45deg);
    margin-top: -5px;
    margin-left: 5px;
    background-color: #ECF1FB;
}




.getInput{
    width: 100%;
    border-top: 1px gray solid;
}
.getInput input{
    height: 50px;
    border: none;
    outline: none;
    padding-left: 30px;
    width: 17em;
}
.getInput button{
    border: none;
    outline: none;
    background-color: white;
}

