
@media (max-width:360px){
    .Desc{
        font-size: 2.5em;
        padding-left: 12%;
        padding-top: 6%;
        /* position: relative; */
        width: 100%;
    }
    .chatbtn{
        height: 40px;
        width: 40px;
        top: 87%;
        left: 78%; 
    }
    
    .square{
        height: 200px;
        left:26%; 
        top: 55%;
        width: 240px;
    }

    .squareChat{
        left:23%; 
        top: 34%;
        width: 255px;   
    }
   
}